@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');


* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', system-ui;
    color: #4285D3;
    line-height: 1.6;
}

body {
    max-width: 100vw;
    overflow-x: hidden;
}

.container {
    width: 100%;
    padding: 0 20px;
}

.row {
    width: 100%;
    max-width: 1200px;
    display: flex;
}

a {
    text-decoration: none;
}

button {
    border: none;
    background-color: #ffffff;
}



/* 

NAV

*/

nav {
    width: 100%;
    height: 100px;
    background-image: url("./assets/il_3a.jpg");
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
}

.nav__row {
    width: 100%;
    max-width: 1200px;
    display: flex;
    align-items: center;
}

.nav__logo {
    width: 50%;
}

.logo {
    width: 100%;
    align-items: center;
}


.nav__links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    padding: 10px 24px;

}

.nav__links li {
    line-height: 1.5;
    padding: 0 12px;
}


.nav__link {
    display: flex;
    cursor: pointer;
    max-height: 48px;
    min-height: 48px;
    padding: 12px 30px;
    align-items: center;
    border: 2px #2172ce solid;
    border-radius: 50px;
    background-color: #f0f0f0;
    color: #2172ce;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    transition: all 300ms ease;
    text-decoration: none;
}


.nav__link:hover {
    background-color: #f7734f;
    color: white;
    transform: scale(1.1);
    box-shadow: #f1977e 5px 5px 5px;
}

/*

    MODAL

*/

.btn__menu {
    background-color: transparent;
    font-size: 40px;
    border: none;
    color: #2172ce;
    display: block;
}

.btn__menu--close {
    position: absolute;
    top: 10px;
    right: 20px;
    padding: 8px;
    color: white;
}

.menu__backdrop {
    position: absolute;
    background-color: #2172ce;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: center;
    visibility: hidden;
    transition: all 300ms ease;
    opacity: 0;
    transform: translate(100%);
}

.menu--open {
    max-height: 100vh;
    overflow: hidden;
}

.menu--open .menu__backdrop {
    visibility: visible;
    opacity: 1;
    transform: translate(0);
}

.menu__links {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu__links li {
    list-style: none;
}

.menu__list {
    padding: 32px 0;
}

.menu__link {
    color: #000000;
    font-size: 40px;
}

.modal {
    display: none;
    align-items: center;
    font-size: 32px;
}

.modal i {
    color: #000000;
    cursor: pointer;
}

.fa-bars:hover {
    transform: scale(1.1);
}

/*

    SEARCH BAR

*/

.main__search {
    display: flex;
    justify-content: center;
}

.input__wrapper {
    display: flex;
    line-height: 20px;
    font-size: 18px;
    font-weight: 600;
    margin: 30px 0;
    width: 100%;
    max-width: 600px;
    position: relative;
    border: 2px solid #4285D3;
    border-radius: 50px;
    overflow: hidden;
    justify-content: space-between;
    align-items: center;
}

.input__wrapper input,
select {
    padding: 10px 20px;
    border: none;
    outline: none;
    font-size: 24px;
    color: #000000;
}

.input__wrapper input {
    width: 65%;
}

.search__wrapper {
    position: relative;
    right: 5px;
}

.search__wrapper i {
    font-size: 32px;
    color: #4285D3;
    cursor: pointer;
    transition: all 0.3s ease;
}

.search__wrapper:hover i {
    color: #f7734f;
    transform: scale(1.1);
}

::placeholder {
    color: #ff0000;
}

/* 

    SEARCH RESULTS HEADER

*/

.results__header {
    margin-bottom: 20px;
    display: flex;
}

.results__header--off {
    display: none;
}

.results__none {
    font-size: 32px;
    color: #ff0000;
}

.search__results {
    font-size: 24px;
}

.search__term {
    font-weight: 700;
}

.filter__wrapper {
    width: 50%;
    background: none;
    padding-bottom: 20px;
    font-size: 16px;
}

.year__input {
    width: 100%;
    display: flex;
    margin: 10px 0 15px;
}

.year__input .year__field {
    display: flex;
    width: 100%;
    height: 35px;
    align-items: center;
}

.year__field input {
    width: 100%;
    height: 100%;
    outline: none;
    font-size: 18px;
    border-radius: 50px;
    text-align: center;
    border: 1px solid #999999;
    cursor: pointer;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.year__input .separator {
    width: 130px;
    display: flex;
    font-size: 19px;
    align-items: center;
    justify-content: center;
}

.slider {
    height: 5px;
    position: relative;
    background: #f1977e;
    border-radius: 5px;
}

.slider .progress {
    height: 100%;
    left: 0%;
    right: 0%;
    position: absolute;
    border-radius: 5px;
    background: #4285D3;
}

.range__input {
    position: relative;
}

.range__input input {
    position: absolute;
    width: 100%;
    height: 5px;
    top: -5px;
    background: none;
    pointer-events: none;
    -webkit-appearance: none;
    cursor: grab;
}

input[type="range"]::-webkit-slider-thumb {
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: #4285D3;
    pointer-events: auto;
    -webkit-appearance: none;
    box-shadow: 0 0 6px #f1977e;
}


/* 

    RESULTS

*/

.movie__list {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    max-width: 1200px;
    justify-content: space-around;
}

.movie__list img {
    width: 100%;
    max-width: 1200px;
}

.movie__list h2 {
    font-size: 1.4em;
}

.movie__list--loading {
    display: flex;
    color: #4285D3;
}

.movie__list--spinner {
    display: none !important;
    color: #4285D3;
    justify-content: center;
    align-items: center;
}

.movie__list--loading .movie__list--spinner {
    display: block !important;
}

.movie__show {
    display: flex;
}

.movie__hide {
    display: none !important;
}

.movie__box--wrapper {
    display: flex;
    max-width: 400px;
}

.movie__box--wrapper:hover .movie__show {
    display: none;
}

.movie__box--wrapper:hover .movie__hide {
    display: flex !important;
}

.movie__box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 400px;
    padding: 20px 40px;
    border: 2px solid #f1977e;
    border-radius: 20px;
    margin: 10px;
    box-shadow: #c6c5c5 5px 5px 3px;
    transition: all 300ms ease;
}

.movie__detail {
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    padding: 10px 10px;
    border: 2px solid #f1977e;
    border-radius: 20px;
    margin: 10px;
    box-shadow: #c6c5c5 5px 5px 3px;
    transition: all 300ms ease;
    font-size: 14px;
    width: 100%;
}

.movie__box--info {
    text-align: center;
}

.movie__poster--wrapper {
    display: flex;
    min-height: 450px;
}

.movie__poster {
    width: 100%;
}

.movie__title,
.movie__year {
    text-align: center;
}



.myspinner {
    animation: rotate 800ms infinite linear;
    width: 100px;
}



@keyframes rotate {
    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(360deg);
    }
}


/*

 MEDIA QUERIES

*/

@media (max-width: 1024px) {
    nav {
        height: 80px;
    }

    .nav__links {
        font-size: 0.8rem;
    }

    .movie__box--wrapper {
        width: 45%;
    }

    .movie__box,
    .movie__detail {
        padding: 10px;
    }
}

@media (max-width: 768px) {
    nav {
        height: 60px;
    }

    .nav__links a {
        padding: 8px 16px;
    }

    .movie__box,
    .movie__detail {
        padding: 10px;
    }

    .movie__poster--wrapper {
        min-height: auto;
    }

    .search__results {
        font-size: 18px;
    }

}

@media (max-width: 640px) {
    nav {
        height: 50px;
    }

    .nav__links {
        display: none;
        width: 30%;
    }

    .nav__logo {
        width: 70%;
    }

    .modal {
        display: flex;
    }

    .results__header {
        flex-direction: column;
    }

    .movie__box--wrapper {
        width: 100%;
    }
}

@media (max-width: 480px) {
    .movie__detail {
        line-height: 1;
        font-size: 14px;
    }

    .movie__box--wrapper {
        max-width: 320px;
    }
}
/* 
.filter__wrapper {
    width: 50%;
    background: none;
    padding-bottom: 20px;
    font-size: 16px;
}

.year__input {
    width: 100%;
    display: flex;
    margin: 20px 0 20px;
}

.year__input .year__field {
    display: flex;
    width: 100%;
    height: 35px;
    align-items: center;
}

.year__field input {
    width: 100%;
    height: 100%;
    outline: none;
    font-size: 18px;
    border-radius: 50px;
    text-align: center;
    border: 1px solid #999999;
    cursor: pointer;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.year__input .separator {
    width: 130px;
    display: flex;
    font-size: 19px;
    align-items: center;
    justify-content: center;
}

.slider {
    height: 5px;
    position: relative;
    background: #f1977e;
    border-radius: 5px;
}

.slider .progress {
    height: 100%;
    left: 0%;
    right: 0%;
    position: absolute;
    border-radius: 5px;
    background: #4285D3;
}

.range__input {
    position: relative;
}

.range__input input {
    position: absolute;
    width: 100%;
    height: 5px;
    top: -5px;
    background: none;
    pointer-events: none;
    -webkit-appearance: none;
    cursor: grab;
}

input[type="range"]::-webkit-slider-thumb {
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: #4285D3;
    pointer-events: auto;
    -webkit-appearance: none;
    box-shadow: 0 0 6px #f1977e;
} */